html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn-outline-success {
  color: #000!important;
}
.navbar.bg-light{
  background-color: #fff!important;
}
li.nav-item {
  list-style: none;
  margin-left: 20px;
}
.table-wrapper {
  margin-top: 20px!important;
}