@keyframes shownotify {
    from{
        right: -150px;
        opacity: 0.3;
    }
    to{
        right: 10px;
        opacity: 1;
    }
}

.input-form{
    max-width: 500px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(94, 94, 94);
    padding: 10px;
}
.form-label{
    margin-top: 10px;
    font-weight: 400;
    color: #485a78;
}
.form-title {
    text-align: center;
    color: #485a78;
}

.table-wrapper{
    width: 90%;
    margin: 0 auto;
}

.form-btn{
    margin-top: 20px!important;
}
thead {
    background-color: rgb(180, 201, 220);
}

.hide{
    display: none;
}

.error{
    color: red;
    font-size: 16px;
    font-weight: 100;
}

.notify{
    position: absolute;
    width: 400px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 5px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: shownotify 0.3s;
}
.notify-head{
    font-size: 20px;
    font-weight: 500;
}
.notify-control {
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 5px;
}
.notify-control:hover {
    background-color: rgb(115, 225, 189);
}
.table-link{
    cursor: pointer;
}

.logo{
    cursor: pointer!important;
}
.brand-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #485a78;
}

.spiner-wrapper{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-border{
    color: #485a78;
    height: 50px;
    width: 50px;
}
